<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" th:href="@{/css/style.css}" />
<meta charset="UTF-8">
<title>新規社員登録確認</title>
</head>
<body>
		
	<h1>新規社員登録確認</h1>
	<div th:object="${createForm}">
		【社員ID】<br>
		<p th:text="*{employeeId}"></p><br>
	   	【氏名】<br>
	   	<p th:text="*{name}"></p><br>
	   	【部署ID】<br>
	   	<p th:text="*{departmentId}"></p><br>
	   	【パスワード】<br>
	   	<p th:text="*{pass}"></p><br>
		【権限】<br>
		<p th:text="*{authority}"></p><br>
	</div>
    <form th:action="@{/confirm-create-user}" method="POST"
			th:object="${createForm}">
    	<input type="hidden" th:field="*{employeeId}">
    	<input type="hidden" th:field="*{name}">
    	<input type="hidden" th:field="*{departmentId}">
    	<input type="hidden" th:field="*{pass}">
		<input type="hidden" th:field="*{authority}">
    	<!--<input type="submit" value="登録実行" class="btn">-->
		<button type="submit">登録実行</button>
		
   	</form>
    <form th:action="@{/show-user-form-ret}" method="POST"
			th:object="${createForm}">
    	<input type="hidden" th:field="*{employeeId}">
    	<input type="hidden" th:field="*{name}">
    	<input type="hidden" th:field="*{departmentId}">
    	<input type="hidden" th:field="*{pass}">
		<input type="hidden" th:field="*{authority}">
    	
		<button type="submit">もどる</button>
    	<!--<input type="submit" value="もどる" class="btn">-->
   	</form>
</body>
</html>