<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログインページ</title>
</head>
<body>
    <h2>ログイン</h2>
    
    <form th:action="@{/login}" method="post" th:object="${accountForm}">
        <label for="id">ユーザーID：</label>
        <input type="text" th:field="*{id}" id="id" /><br/><br/>
        
        <label for="pass">パスワード：</label>
        <input type="password" th:field="*{pass}" id="pass" /><br/><br/>
        
        <button type="submit">ログイン</button>
    </form>
</body>
</html>
