<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
	<link rel="stylesheet" th:href="@{/css/style.css}" />
	<meta charset="UTF-8">
	<title>勤怠登録</title>
</head>

<body>
	<h1>勤怠登録フォーム</h1>

	<form th:action="@{/stamp_confirm}" method="post">
		<!-- ユーザーID（初期値としてmodelから受け取る） -->
		<label for="id">ユーザーID：</label>
		<input type="text" id="id" name="id" th:value="${id}" readonly /><br><br>

		<!-- 勤怠区分の選択 -->
		<label for="attendanceType">勤怠区分</label>
		<select id="attendanceType" name="attendanceType" class="form-control" required>
			<option value="" disabled selected>選択してください</option>
			<option value="1">１.出勤</option>
			<option value="2">２.振出</option>
			<option value="3">３.振休</option>
			<option value="4">４.年休</option>
			<option value="5">５.休日</option>
			<option value="6">６.欠勤</option>
		</select>

		<!-- 日付（年月日） -->
		<label for="date">年月日：</label>
		<input type="date" id="date" name="date" required /><br><br>

		<!-- 始業時間 -->
		<label for="startTime">始業時間：</label>
		<input type="time" id="startTime" name="startTime" required /><br><br>

		<!-- 就業時間 -->
		<label for="endTime">就業時間：</label>
		<input type="time" id="endTime" name="endTime" required /><br><br>

		<!-- 送信ボタン -->
		<button type="submit">登録</button>
	</form>

	<!-- 戻るリンク -->
	<br>
	<!--   <a th:href="@{/top}">トップページへ戻る</a>    -->
</body>

</html>