<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>トップ - 勤怠管理システム</title>
</head>
<body>
    <a href="login.html" class="logout-link">ログアウト</a>
    <div class="container">
        <h1>勤怠管理システム</h1>
        <div class="button-container">
            <a href="admin_edit_attendance.html" class="button">勤怠編集</a>
            <a th:href="@{/search}" class="button">検索</a>
            <a href="admin_new_registration.html" class="button">新規登録</a>
        </div>
    </div>
</body>
</html>