<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新規登録</title>
</head>
<body>
    <a href="logout.html" class="logout-link">ログアウト</a>
    <div class="container">
        <h1>新規登録</h1>
        <form id="employeeForm">
            <label for="employeeId">社員ID:</label>
            <input type="text" id="employeeId" name="employeeId" placeholder="例: 012345" required>

            <label for="departmentCode">部署ID:</label>
            <input type="text" id="departmentCode" name="departmentCode" placeholder="例: 0001" required>

            <label for="name">氏名:</label>
            <input type="text" id="name" name="name" placeholder="例: 山田太郎" required>

            <label for="password">パスワード:</label>
            <input type="text" id="password" name="password" placeholder= "パスワード" required>

            <br><button type="submit">登録</button>
        </form>
    </div>
</body>
</html>
